@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap')

h1{
  font-size: 100px;
  font-famiy: 'Madimi One', sans-serif;
  margin: 90px 20px 30px 20px;
}

.container{
  margin: 30px;
  font-family: 'Madimi One', sans-serif;

}