{%extends "base.html" %}
<!--title-->
{%block title%}About Us{%endblock title%}
<!--css-->
{%block css%}
    <link rel="stylesheet" href="static/css/CSS-about.css">
{%endblock css%}

<!--any-->
{%block any%}
    <header>
        <h1>About US</h1>
    </header>
    <div class="container">
 
Welcome to <b>Integrated Momentum</b>, your ultimate destination for high-quality Minecraft texture packs!
<br /> 
At <b>Integrated Momentum</b>, we are passionate about enhancing your Minecraft experience through stunning visuals and immersive textures.
<br />
Whether you're a seasoned player looking to revamp your world or a newcomer eager to explore endless possibilities, we have something for everyone.
<br />
Our curated collection features a diverse range of texture packs, meticulously crafted by talented creators from around the globe.
<br />
From realistic shaders to whimsical themes, each pack is thoughtfully designed to elevate your gameplay and transport you to new realms.
<br />
But we're more than just a repository for texture packs. <b>Integrated Momentum</b> is a thriving community where players come together to share their creations, exchange tips, and celebrate the vibrant world of Minecraft.
<br />
Join us on our forums, engage with fellow enthusiasts, and unleash your creativity.
<br />
Whether you're seeking inspiration, seeking feedback on your latest creation, or simply looking to connect with like-minded individuals, <b>Integrated Momentum</b> is your go-to hub for all things Minecraft texture packs.
<br />
So dive in, explore our collection, and embark on an unforgettable journey through the pixelated landscapes of Minecraft. Your adventure begins here at <b>Integrated Momentum</b>
{%endblock any%}