<!--extends-->
{%extends "base.html"%}

<!--css-->
{%block css%}
<link rel="stylesheet" href="static/css/CSS-index.css" />
{%endblock css%}
{%block navbg%}

<!--navbar-->
<section class="bgimg">
</section>
<section class="slogan">
True legends are here
</section>
<!--h1 h2-->
<h1>
Integrated Momentum
</h1>
{%endblock navbg%}

<!--discreption-->
{%block discreption%}
<div class="discription">
<b>Welcome to Integrated Momentum</b><br/><br/>

<b>Explore our Extensive Collection:</b>
<br/>
Dive into a world of endless creativity and customization with our wide range of meticulously crafted texture packs.
Discover textures designed to enhance your gaming experience, whether you prefer realistic graphics, vibrant colors, or a unique aesthetic.
<br/><br/>


<b>Join our Community:</b> <br/>
 Connect with fellow Minecraft enthusiasts and be part of a thriving community passionate about customization and creativity.<br/>
Share your experiences, tips, and creations with like-minded individuals who share your love for Minecraft.
<br/>
<br/>
<b>Immerse Yourself in Boundless Possibilities:</b><br/>
Elevate your gameplay to new heights with our carefully curated selection of texture packs.<br/>
Unleash your creativity and explore new worlds filled with boundless possibilities.
<br/><br/>
<b>Start Your Journey Today:</b>  
<br/>Begin your adventure into the world of Minecraft texture packs and unlock a realm of endless potential.<br/>
Join us and embark on a journey of exploration, creation, and discovery. 

</div>

{%endblock discreption%}
